<!-- templates/hello.tmpl -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Happy Helmet</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/table.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Happy Helmet</h1>
        <div class="row center">
          <h5 class="header col s12 light">Safty First Wherever You go</h5>
        </div>
        <div class="row center">
          <video class="target-video" style="border-width:3px;border-style:dashed;border-color:#FFAC55;padding:5px;" width="400" controls>
            <source src="https://kvs-img.s3.amazonaws.com/rtsp.mp4" type="video/mp4">
          </video>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s6">
          <table>
            <thread>
              {{range .}}
              <tr>
                <th>
                  <i class="material-icons tiny orange-text">info</i><!--<span class="badge red">警告！</span>--><a class="waves-effect waves-teal btn-flat timestamp"><p class="security-img hide">{{.Link}}</p>{{.Timestamp}}</data></a>
                </th>
              </tr>
              {{end}}
            </thread>
          </table>
        </div>
        <div class="col s6 list-img">
          <!-- <video class="target-video" width="400" controls>
            <source src="" type="video/webm">
          </video> 
          <img class="responsive-img target-img" src="https://kvs-img.s3.amazonaws.com/rtsp-2020528-1056070600.png">
          -->
          
        </div>
        <!-- <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div> -->
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <!-- <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div> -->
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us.</h5>
          <p class="grey-text text-lighten-4">We are a team of distinct backgrounds. Together, we are to innovate, to explore, to make this world a better place.</p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <!-- <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div> -->
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/jquery.min.js"></script>

  </body>

  <script>
$(".security-img").each(function(i) { 
      var url = $(this).html();

      if (i == 0) {

        var url = $(this).html();
        var html = '<img class="responsive-img target-img" src="' + url + '">'
        $(this).parent().parent().addClass("grey lighten-3");
        $('.list-img').html(html)

      } else {

        var url = $(this).html();
        var html = '<img class="responsive-img target-img hide" src="' + url + '">'
        $('.target-img').last().after(html)
      }

    });

    $( ".timestamp" ).click(function(e) {

      $("th").each(function(i){

        if ($(e.target).html() == $(this).find("a").html()) {
          $(this).addClass("grey lighten-3")
        } else {
          $(this).removeClass("grey lighten-3")
        }
      });

      $('.target-img').each(
        function(i){
          var imgSrc = $(this).attr('src');
          var imgDest = $(e.target).children(".security-img").html();
          if (imgSrc == imgDest) {
            $(this).removeClass('hide');
          } else {
            $(this).addClass('hide');
          }
        }
      );
    });
  </script>
</html>
